html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  font-family: Amaranth, sans-serif;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

nav ul a {
  font-weight: 600;
}

nav ul a.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.section {
  padding: 2rem 0;
}

.section h2 {
  margin-bottom: 0;
}

.lead {
  margin-top: 0;
  font-size: 1.4em;
  font-weight: bold;
}

.section a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
  opacity: 0.85;
  transition: all 0.25s ease;
}

.section a:hover {
  opacity: 1;
}

.bold {
  font-weight: bold !important;
}

.section .btn-large, .section .btn-small {
  opacity: 1;
  transition: none;
  text-decoration: none;
  font-weight: bold;
}

.card .card-title {
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
}

.card .card-content .card-title {
  line-height: 1.1;
}

.inro-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.list-inline-item {
  margin: 0 0 0 1em;
}

.list-inline-item a {
  display: flex;
  justify-content: center;
}

#intro {
  padding: 10% 0 8%;
}

.meta {
  margin: 0 0 1em !important;
}

.meta strong {
  font-weight: bold !important;
}

@media (max-width: 600px) {
  .inro-list {
    flex-direction: column;
    margin: 2em 0 0;
  }

  .list-inline-item {
    margin: 0 0 0.5em;
  }
  .list-inline-item a {
    width: 100%;
  }
}
